# Eclipse project files
.project
.classpath
.settings/

# IDEA IntelliJ project files
.idea/
*.iml

# Build time directories
classes/
lib-test/
lib/
test-reports/
test-classes/

# Build products
japper*.jar




